In [1]:
import cobra
import numpy as np
import matplotlib
import scipy

In [4]:
model_paths = {'L_lactis': './models/L_lactis/L_lactis_fbc.xml',
                'L_plantarum': './models/L_plantarum/L_plantarum.xml',
                'S_cerevisiae': './models/S_cerevisiae/iMM904.XML'}

In [5]:
%%capture
l_lactis = cobra.io.read_sbml_model(model_paths['L_lactis'])
l_plant_model = cobra.io.read_sbml_model(model_paths['L_plantarum'])
yeast_model = cobra.io.read_sbml_model(model_paths['S_cerevisiae'])

In [6]:
# cobra.io.validate_sbml_model(model_paths['S_cerevisiae'])

In [5]:
l_lactis_opt = l_lactis.optimize()
l_plant_opt = l_plant_model.optimize()

In [39]:
l_lac_df = l_lactis_opt.to_frame()
l_plant_df = l_plant_opt.to_frame()

In [6]:
print(l_plant_df)

In [43]:
l_plant_df.index.name = 'metabolite'
l_lac_df.index.name = 'metabolite'

l_lac_df.reset_index(inplace=True)
l_plant_df.reset_index(inplace=True)

In [50]:
merge_df =  l_lac_df.merge(l_plant_df, on='metabolite', suffixes=['_l_lac', '_l_plant'])

In [52]:
lac_to_plant_feeding = merge_df.loc[ (merge_df['fluxes_l_lac'] > 0) & (merge_df['fluxes_l_plant'] < 0) ]
plant_to_lac_feeding = merge_df.loc[ (merge_df['fluxes_l_plant'] > 0) & (merge_df['fluxes_l_lac'] < 0) ]

In [53]:
lac_to_plant_feeding

,metabolite,fluxes_l_lac,reduced_costs_l_lac,fluxes_l_plant,reduced_costs_l_plant
102,ALATA_L,1.473838e+01,3.469447e-18,-1.619942e+01,-0.000000e+00
362,GPDDA2,8.673617e-18,-7.212962e-19,-6.938894e-18,0.000000e+00
376,H2Ot,9.837602e+01,7.212962e-19,-5.147233e+02,-0.000000e+00
729,TRDR,4.090357e+00,-4.036238e-19,-5.551115e-17,0.000000e+00
763,VALt2r,3.400266e+01,0.000000e+00,-2.341776e+02,-3.469447e-18
764,VALTA,1.777902e+01,0.000000e+00,-2.475222e+02,1.856272e-17

,metabolite,fluxes_l_lac,reduced_costs_l_lac,fluxes_l_plant,reduced_costs_l_plant
62,ACLS,-6.821210e-13,1.155558e-33,247.597914,0.000000e+00
89,AHCi,-8.549614e-03,2.748151e-18,0.003154,0.000000e+00
396,HSDy,-9.734674e+00,4.036238e-19,286.457466,0.000000e+00
436,LEUTA,-1.727294e+01,-0.000000e+00,512.782959,0.000000e+00
703,SUCOAACTr,-8.549614e-03,-0.000000e+00,284.864400,1.708762e-17
771,EX_h2o_e,-1.007403e+02,-0.000000e+00,509.519971,-2.081668e-17
820,EX_glu__L_e,-2.056585e+01,-0.000000e+00,208.957955,0.000000e+00
869,EX_val__L_e,-3.400266e+01,-0.000000e+00,234.177618,0.000000e+00